@{
    ViewBag.Title = "Login";
    Layout = "MasterPageDeslogado";
}

<!-- <link href="/css/login.css" rel="stylesheet" type="text/css"/> -->

<h1>Login</h1>

<h3>
@ViewBag.Mensagem
</h3>

<form action="/Usuario/Login" method="POST">
    
    <label >
        E-mail:
<<<<<<< HEAD
        <input class="input-style" type="text" name="email" required="true"  placeholder="exemplo@provedora.com">
=======
        <input class="input-style" type="text" name="email" required="true">
>>>>>>> 396ba8f7eea04919091e70bc088059562ccb5d52
    </label>

    <label class="cor-azul">
        Senha:
        <input class="input-style" type="password" name="senha" required="true">
    </label>

    <input class=btn-enviar type="submit" value="Entrar">
</form>